* {
  margin: 0;
  padding: 0;
}

body, a {
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.navigation {
  background-color: #fff;
  justify-content: space-between;
  gap: 419px;
  padding: 0 50px;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

@media screen and (width <= 1024px) {
  .navigation {
    gap: 243px;
  }
}

.navigation__img {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  display: block;
}

.navigation__nav-bar {
  align-items: center;
  gap: 20px;
  height: 60px;
  display: flex;
}

.navigation__link {
  color: #000;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: center;
  height: 100%;
  font-size: 12px;
  text-decoration: none;
  display: flex;
}

.navigation__link.is-active {
  color: #00acdc;
  background-image: url("Rectangle-2.9459914b.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
}

.navigation__link.is-active:hover, .navigation__link.hover:hover {
  color: #00acdc;
}

.stars {
  align-items: center;
  gap: 4px;
  display: flex;
}

.stars__star {
  background-image: url("star-active.2be54011.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.stars__starN {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.catalog {
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 46px 48px;
  height: 862px;
  padding: 50px 40px;
  display: grid;
}

@media screen and (width >= 488px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (width >= 768px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (width >= 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}

.catalog .card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  transition: transform .3s;
}

.catalog .card__button {
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.catalog .card:hover {
  transform: scale(1.2);
}

.catalog .card:hover .card__title {
  color: #34568b;
}

.catalog .card:hover .card__button {
  color: #00acdc;
  background-color: #fff;
}

.catalog .card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
  display: block;
}

.catalog .card__device-name {
  color: #060b35;
  height: 36px;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.catalog .card__device-code {
  color: #616070;
  height: 14px;
  margin: 0 0 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.catalog .card__reviews {
  justify-content: space-between;
  align-items: flex-end;
  width: 166px;
  height: 16px;
  margin: 0 0 24px;
  line-height: 14px;
  display: flex;
}

.catalog .card__text {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
}

.catalog .card__price {
  justify-content: space-between;
  align-items: flex-end;
  width: 166px;
  height: 18px;
  margin: 0 0 16px;
  line-height: 18px;
  display: flex;
}

.catalog .card__price-price {
  color: #616070;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.catalog .card__price-price_2199 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
/*# sourceMappingURL=index.e378193d.css.map */
